/* cross-region */

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'JetBrains Mono', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header */
header {
    border-bottom: 1px solid black;
    margin-bottom: 5rem;
}

.headerbox {
    margin: 1.5rem 8rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 2rem;
    color: rgb(35, 35, 35);
    text-decoration: none;
    font-weight: bold;
}

header nav a {
    color: rgb(35,35,35);
    text-decoration: none;
    font-weight: bold;
}

header .icon {
    margin-right: 0.75rem;
}

.punctuation {
    color: #F9322C;
}

/* main */
main {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: rgb(35,35,35);
}

.subheader {
    text-align: center;
    line-height: 2;
    color: rgb(35,35,35);
}

.subheaderbox {
    width: 90%;
    margin: 0 auto;
}

.message {
    border: 1px solid black;
    width: 70%;
    margin: 2rem auto 1.5rem auto;
}

.messagebox {
    width: 80%;
    height: 80%;
    margin: 3rem auto;
}

.message-text {
    color: rgb(86,84,84);
    line-height: 1.8;
}

/* button */
button {
    background-color: #F9322C;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 2rem 1rem 2rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

button:hover {
    background-color: #b31c16;
}

main a {
    display: block;
    text-align: center;
    color: #F9322C;
    margin-top: 3rem;
}

/* footer */
footer {
    color: rgb(86,84,84);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #F9322C;
    margin-top: 8rem;
}

.footerbox {
    width: 90%;
    margin: 0 auto;
}

/* media queries */
@media only screen and (max-width: 425px) {
    button {
        font-size: 1.25rem;
        padding: 0.75rem 1rem;
        max-width: 80%;
    }

    .headerbox {
        margin-right: 0;
    }

    header nav {
        display: none;
    }

    h1 {
        font-size: 3rem;
    }

    .messagebox {
        width: 90%;
    }

    .message {
        width: 90%;
    }

    footer {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 375px) {
    header .logo {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 2.5rem;
    }

    .subheader {
        font-size: 0.9rem;
    }
}